/* @import url("https://fonts.googleapis.com/css2?family=Arizonia&family=Baloo+Bhaijaan+2:wght@800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    line-height: 1.9;
    font-family: "Montserrat", sans-serif;
    /* font-family: 'Smooch Sans', sans-serif; */
    color: #333;
    scroll-behavior: smooth;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333 !important;
    font-family: "Poppins", sans-serif;
}
a {
    text-decoration: none;
}

div,
p {
    font-size: 16px;
    /* color: #6084a4; */
}
.text-justify {
    text-align: justify;
}
.home-banner-text {
    padding-top: 80px;
}
.home-banner-text h1 {
    font-weight: 700;
    font-size: 2.8rem;
}
.bread-crumb {
    height: 190px;
}
.logo {
    width: 100px;
}
.footer-logo {
    width: 200px;
}
.navbar {
    padding: 5px 0px;
}
.navbar-nav .nav-link {
    color: #000 !important;
    font-weight: 600;
}
.bread-crumb .back-home {
    color: #000 !important;
    font-weight: 600;
    color: #6c757d !important;
}
.navbar ul li {
    font-size: 16px;
    font-weight: 600 !important;
    padding: 0 15px;
    margin: 0;
}
.sub-head {
    letter-spacing: 1.5px;
    margin: 0 auto;
    max-width: 520px;
}
.navbar-nav .nav-item .active {
    font-weight: 600;
    border-bottom: 4px solid #da251d;
    color: #da251d !important;
}
.nav-contact-btn {
    background: #ff0032;
    border-radius: 30px;
    font-weight: 500;
    border: 1px solid #ff0032;

    padding: 10px 20px !important;
    font-size: 1.1rem;
    color: white !important;
}
.nav-contact-btn:hover {
    background: #fff;
    color: #ff0032 !important;
    border: 1px solid #ff0032;
    border-radius: 30px;
    font-weight: 500;
    padding: 10px 20px !important;
    font-size: 1.1rem;
    transition: all ease 0.5s;
}
.home-banner img {
    height: 500px;
    width: 100%;
    /* animation-name: banner-img;
    animation-duration: 4s;
    animation-iteration-count: infinite; */
}
.about-text h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
}
.about-index-description ul li,
.about-index-description ol li {
    font-size: 1.2rem;
}
.overview-right img {
    width: 100%;
}
.colored-nav {
    background-color: #fff !important;
    transition: all ease 0.5s;
    box-shadow: 0px 2px 9px 0px rgba(133, 93, 93, 0.75);
    -webkit-box-shadow: 0px 2px 9px 0px rgba(133, 93, 93, 0.75);
    -moz-box-shadow: 0px 2px 9px 0px rgba(133, 93, 93, 0.75);
}
.colored-nav .logo {
    width: 80px;
}
.trans-nav {
    background: transparent;
}
.btn-index-banner {
    background-color: #ff0032;
    color: #fff;
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: 600;
}
.btn-index-banner:hover {
    background-color: #fff;
    color: #ff0032;
    padding: 10px 24px;
    border-radius: 30px;
    font-weight: 600;
    border: 1px solid #ff0032;
    transition: all ease 0.5s;
}
/* test */
.top-contact-section {
    border-left: 3px solid #dd726d;
}
.contact-number-index h1 {
    color: rgb(43, 76, 114) !important;
}
.contact-right-index i {
    color: rgb(43, 76, 114) !important;
}
/* test end */
/* service */
.index-service-img {
    width: 80px;
}
.services {
    background-color: #f8f9fb;
    background-repeat: no-repeat;
    background-position: left;
}
.services h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
}
.services .card {
    border: none;
    padding: 40px 30px !important;
    border-radius: 20px;
    position: relative;
    /* background: linear-gradient(0deg,#dfdfdf,#e7e7e7,#efefef,#f7f7f7,#fff); */
}
.services .card:hover {
    background-color: #ff0032 !important;
    margin-top: -10px;
    transition: all ease 0.5s;
    box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    color: white;
}
.services .card:hover h4,
.services .card:hover a {
    color: white !important;
}
.readmore-circle {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #ff0032;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -30px;
    left: 40%;
    box-shadow: 0px 1px 7px 2px rgba(148, 142, 142, 0.75);
    -webkit-box-shadow: 0px 1px 7px 2px rgba(148, 142, 142, 0.75);
    -moz-box-shadow: 0px 1px 7px 2px rgba(148, 142, 142, 0.75);
}
.readmore-circle:hover {
    box-shadow: 0px 1px 7px 2px rgba(148, 142, 142, 0.75);
    -webkit-box-shadow: 0px 1px 7px 2px rgba(148, 142, 142, 0.75);
    -moz-box-shadow: 0px 1px 7px 2px rgba(148, 142, 142, 0.75);
}

.service-read-more {
    /* background: transparent; */
    padding: 15px 0px 0px 0px;
    text-decoration: none;
    color: rgba(31, 28, 28, 0.75);
}
.service-read-more:hover {
    color: #da251d;
}

.technologies h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
}
.nav-tabs {
    border-bottom: 0px solid #dee2e6;
    text-decoration: none;
    font-size: 1.4rem;
    color: #333 !important;
}
.nav-tabs li {
    border-bottom: 0px solid #dee2e6;
    text-decoration: none !important;
    color: #333 !important;
    font-size: 20px;
}
.nav-tabs li a:hover {
    border: 0px solid #dee2e6;
}
.nav-tabs li a {
    border-bottom: 0px solid #dee2e6;
    text-decoration: none !important;
    color: #333 !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    border-bottom: 2px solid #dd726d;
    padding-bottom: 20px;

    /* background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff; */
}
.circle-img-testimonials img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid #dd726d;
}
.testimonials {
    background-color: #f8f9fb;
}
.testimonials h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
}
.testimonials .card {
    position: relative;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    box-shadow: 7px 8px 25px -7px rgba(0, 0, 0, 0.75);

    background-color: #f8f9fb;
}
.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 10px;
    height: 11px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #da251d;
    background-clip: padding-box;
    border: 0;
    border-radius: 50%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 0.5;
    transition: opacity 0.6s ease;
}
.carousel-indicators .active {
    opacity: 1;
}

.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -38px;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
}
.card-entity {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 900;
    border-radius: 10px;
    margin: 10px 30px;
    height: 60px;
    width: 60px;
    background-color: #ff0032;
    color: #fff;
    position: absolute;
    top: -40px;
    left: -60px;
}
.why-us h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
}

.navbar .nav-item:hover .dropdown-menu {
    background: #fff;
    color: #6c757d !important;
    border: none;
    /* border-bottom: 2px solid #da251d; */
    transition: all ease 0.5s !important;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.35rem 1rem;
    clear: both;
    /* font-weight: 600; */

    color: #6c757d;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0px;
}
.dropdown-item:hover {
    display: block;
    width: 100%;
    /* padding: 0.25rem 1rem; */
    clear: both;
    font-weight: 600;
    color: #000;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0px;
}
.footer {
    background-color: #000;
    color: #fff;
}
.connect-circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-us-footer-bg {
    position: relative;
    width: 40%;
    height: 40px;
    background-color: #fff !important;
}
.contact-us-footer {
    position: absolute;
    background-color: #da251d;
    width: 100%;
    height: 40px;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-links ul {
    list-style: none;
    padding: 0;
}
.footer-links ul li a {
    text-decoration: none;
    color: white;
}
.footer-bottom {
    padding: 10px 0px;
}
#map {
    height: 500px;
    width: 100%;
}
.heading-features h3 {
    color: #000000 !important;
    font-size: 24px;
    font-weight: 400;
}
.tab-pane img {
    width: 70px;
    height: auto;
    padding-bottom: 20px;
}

.features {
    background-color: #eff3f8;
    background-repeat: no-repeat;
    background-position: left;
}
.features .circle-entity {
    height: 60px !important;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(255, 0, 50, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.features .card:hover {
    margin-top: -15px;
    transition: all ease 0.5s !important;
}
.features .card:hover h5 {
    color: #ff0032 !important;
}

.features h1 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
}
/* career */
.career-vacancy .card {
    border-radius: 20px;
}
.career-vacancy .card:hover {
    background-color: #ff0032 !important;
    margin-top: -10px;
    transition: all ease 0.5s;
    box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 9px 10px 24px -1px rgba(0, 0, 0, 0.75);
    color: white;
}
.career-vacancy .read-more-btn {
    background-color: #ff0032;
    color: #fff;
}
.career-vacancy .card .vacancy-post {
    color: #ff0032;
    font-weight: 600;
}
.career-vacancy .card:hover {
    color: #fff !important;
    background: #ff0032;
}
.career-vacancy .card:hover .read-more-btn {
    color: #ff0032 !important;
    background: #fff;
}
.career-vacancy .card:hover .vacancy-post,
.career-vacancy .card:hover h5,
.career-vacancy .card:hover .vacancy-desc {
    color: #fff !important;
}
/* job-description */
.job-description-list ul li {
    margin: 10px 0px;
    color: rgb(145, 143, 143);
}
.job-requirement-list ul li {
    margin: 10px 0px;
    color: rgb(145, 143, 143);
}

.red-btn-color {
    background-color: #ff0032;
    color: #fff;
    font-weight: 600;
    transition: all ease 0.6s;
    padding: 10px 20px;
}
.job-description {
    font-size: 1.2rem;
}
.job-description ul li,
.job-description ol li {
    font-size: 1.2rem;
}
.red-btn-color:hover {
    background-color: #fff;
    color: #ff0032;
    font-weight: 600;
    border: 1px solid #ff0032;
    transition: all ease 0.6s;
}
.application-form h1 {
    color: #ff0032 !important;
}
.head {
    color: #ff0032 !important;
}
.application-form .card {
    border-radius: 30px;
}
#form-top {
    border-top: 1px solid rgb(219, 217, 217);
    padding-top: 20px;
}
.application-form input:focus,
.application-form textarea:focus {
    box-shadow: 0px 0px 7px 0px rgba(222, 77, 77, 0.75);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(222, 77, 77, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(222, 77, 77, 0.75);
    transition: all ease 0.6s;
}

.contact-us {
    padding: 6rem 0rem !important;
}
.contact input[type="text"],
.contact input[type="email"],
.contact input[type="number"],
.contact textarea {
    width: 100%;
    border: none;
    padding: 10px 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
}
.contact .card {
    border-radius: 10px;
    background-color: #f5f5f5;
}
.contact .card h2 {
    color: #dd726d !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    /* background-color: #fff; */
    border-color: #fff #fff #fff;
    border-bottom: #da251d !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    border-bottom: 4px solid #dd726d !important;
}
.contact-sub-btn {
    border-radius: 30px;
    background-color: #ff0032;
    font-weight: 500;
    border: none;
    padding: 10px 30px;
}

/* service detail */
.service-list {
    background-color: #4a4a4a;
    padding: 14px 20px;
    text-decoration: none;
    border-radius: 4px;
}
.service-list h5 {
    color: white !important;
    margin-block-end: 0em;
    padding: 5px 0;
}
.service-detail-div-1 {
    background-color: #f5f5f5;
    border-radius: 7px;
}
.service-list.active {
    background-color: #ff0033;
    border-right: 15px solid;
}
.service-detail-div-1 .description {
    text-align: justify;
}
.service-detail-div-1 .description ul li,
.service-detail-div-1 .description ol li {
    font-size: 1.2rem !important;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .nav-link {
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
}

@keyframes banner-img {
    0% {
        margin-top: 0px;
    }

    50% {
        margin-top: 10px;
    }
    100% {
        margin-top: 0px;
    }
}

@keyframes moving-bar {
    0% {
        margin-left: 0px;
    }
    100% {
        margin-left: 107px;
    }
}
/* test */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #0b589e;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    border-bottom: 2px solid;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    color: grey;
    border: none;
}

.technologies-img {
    width: 100px;
    height: auto;
}
.bar {
    background: #edaaa3;
    border-radius: 30px;
    height: 5px;
    margin: 20px auto;
    position: relative;
    width: 111px;
}
.bar:before {
    animation-name: moving-bar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #ff0032;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: -2.7px;
    width: 10px;
}
.m-bar {
    background: #edaaa3;
    border-radius: 30px;
    height: 5px;
    margin: 20px 0px;
    position: relative;
    width: 111px;
}
.m-bar:before {
    animation-name: moving-bar;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background: #ff0032;
    border-radius: 50%;
    content: "";
    height: 10px;
    left: 0;
    position: absolute;
    top: -2.7px;
    width: 10px;
}
.fa-check {
    color: #ff0032;
}
/* test */
.menu-text {
    margin-top: 5px;
    /* padding-right: 35px; */
    color: #6c757d;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.menu-text:after {
    transition: all ease-in-out 0.4s;
    background: none repeat scroll 0 0 #da251d;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}
.menu-text:hover:after {
    width: 100%;
}
