<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Career | Magicwords</title>

        <link
            rel="stylesheet"
            href="../assets/bootstrap-5.0.2-dist/css/bootstrap.min.css"
        />

        <link rel="stylesheet" href="../assets/css/style.css" />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <!-- navbar -->
        <div
            class=""
            style="
                background-image: url(../assets/images/banner.jpeg);
                background-repeat: no-repeat;
                background-position: center;
            "
        >
            <!-- navbar -->
            <nav id="navbar_top" class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="#"
                        ><img
                            class="logo"
                            src="../assets/images/Logo.jpg"
                            alt=""
                    /></a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div
                        class="collapse navbar-collapse"
                        id="navbarSupportedContent"
                    >
                        <ul
                            class="navbar-nav align-items-center ms-auto p-0 m-0 mb-lg-0"
                        >
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="#"
                                    >Home</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a
                                    class="nav-link dropdown-toggle"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    Services
                                </a>
                                <ul
                                    class="dropdown-menu py-0"
                                    aria-labelledby="navbarDropdown"
                                >
                                    <li class="px-0">
                                        <a class="dropdown-item" href="#"
                                            >Service 1</a
                                        >
                                    </li>
                                    <li class="px-0">
                                        <a class="dropdown-item" href="#"
                                            >Service 2</a
                                        >
                                    </li>
                                    <li class="px-0">
                                        <a class="dropdown-item" href="#"
                                            >Service 3</a
                                        >
                                    </li>
                                    <li class="px-0">
                                        <a class="dropdown-item" href="#"
                                            >Service 4</a
                                        >
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Career</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <a href="" class="nav-link nav-contact-btn"
                                    ><i
                                        class="fa fa-phone pe-2"
                                        style="transform: rotate(160deg)"
                                    ></i>
                                    984110124</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- navbar ends -->

            <!-- banner -->
            <div
                class="bread-crumb d-flex align-items-center justify-content-center"
            >
                <div class="div">
                    <h1 class="text-muted fw-bold">CAREER</h1>
                    <div class="bact-to-home text-center">
                        <a href="/" class="text-decoration-none back-home"
                            >Home</a
                        >
                    </div>
                </div>
            </div>

            <!-- banner ends -->
        </div>
        <!-- banner ends -->

        <!-- about -->
        <div class="about py-5">
          <div class="container">
              <div class="row">
                  
                  <div class="col-md-6 p-4">
                      <div class="about-text">
                          <h1>Our Career</h1>
                          <div class="m-bar"></div>
                          
                          <div class="about-index-description mt-3">
                              <p>
                                  Lorem ipsum dolor sit amet consectetur
                                  adipisicing elit. Quisquam, quidem. Lorem
                                  ipsum dolor sit amet consectetur adipisicing
                                  elit. Quisquam, quidem. Lorem ipsum dolor
                                  sit amet consectetur adipisicing elit.
                                  Quisquam, quidem. Lorem ipsum dolor sit amet
                                  consectetur adipisicing elit. Quisquam,
                                  quidem.
                              </p>
                              
                              
                          </div>
                          
                      </div>
                  </div>
                  <div class="col-md-6 p-5">
                    <img
                        src="../assets/images/service.svg"
                        alt=""
                        class="img-fluid"
                    />
                </div>
              </div>
          </div>
      </div>

        <!-- career -->
        <div class="career-vacancy py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 my-3">
                        <a href="#" class="text-decoration-none">
                            <div class="card p-4">
                                <h5 class="m-0">Front End Developer</h5>
                                <div class="text-muted vacancy-desc">
                                    Vacancy Short Description
                                </div>
                                <div
                                    class="d-flex justify-content-between align-items-center mt-4"
                                >
                                    <div class="vacancy-post">Front End</div>

                                    <button
                                        id="button"
                                        class="btn read-more-btn"
                                    >
                                        Read More
                                    </button>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 my-3">
                        <div class="card p-4">
                            <h5 class="m-0">Front End Developer</h5>
                            <div class="text-muted vacancy-desc">
                                Vacancy Short Description
                            </div>
                            <div
                                class="d-flex justify-content-between align-items-center mt-4"
                            >
                                <div class="vacancy-post">Front End</div>

                                <button id="button" class="btn read-more-btn">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 my-3">
                        <div class="card p-4">
                            <h5 class="m-0">Front End Developer</h5>
                            <div class="text-muted vacancy-desc">
                                Vacancy Short Description
                            </div>
                            <div
                                class="d-flex justify-content-between align-items-center mt-4"
                            >
                                <div class="vacancy-post">Front End</div>
                                <button id="button" class="btn read-more-btn">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card p-4">
                            <h5 class="m-0">Front End Developer</h5>
                            <div class="text-muted vacancy-desc">
                                Vacancy Short Description
                            </div>
                            <div
                                class="d-flex justify-content-between align-items-center mt-4"
                            >
                                <div class="vacancy-post">Front End</div>
                                <button id="button" class="btn read-more-btn">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card p-4">
                            <h5 class="m-0">Front End Developer</h5>
                            <div class="text-muted vacancy-desc">
                                Vacancy Short Description
                            </div>
                            <div
                                class="d-flex justify-content-between align-items-center mt-4"
                            >
                                <div class="vacancy-post">Front End</div>
                                <button id="button" class="btn read-more-btn">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 my-3">
                        <div class="card p-4">
                            <h5 class="m-0">Front End Developer</h5>
                            <div class="text-muted vacancy-desc">
                                Vacancy Short Description
                            </div>
                            <div
                                class="d-flex justify-content-between align-items-center mt-4"
                            >
                                <div class="vacancy-post">Front End</div>
                                <button id="button" class="btn read-more-btn">
                                    Read More
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        


        <!-- contact -->
        <div
            class="contact-us py-5"
            style="
                background: url('https://template.hasthemes.com/mitech/assets/images/bg/home-infotechno-contact-bg.webp')
                    no-repeat center center;
            "
        >
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="top-contact-section ps-3">
                            <h1>
                                Obtaining further information by make a contact
                                with our experienced IT staffs.
                            </h1>
                        </div>
                        <div class="bottom-contact-section ps-3">
                            <span class="text-muted">
                                We're available 8 hours a day!,<br />
                                Contact to require adetailed analysis and
                                assessment of your plan.
                            </span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="contact-right-index text-center">
                            <i class="fa fa-3x fa-phone"></i>
                            <div class="text-uppercase">
                                <span>Reach Out Now!</span>
                            </div>
                            <div class="contact-number-index">
                                <h1>1900 688668</h1>
                            </div>
                            <div class="contact-number-index">
                                <button class="btn red-btn-color">
                                    Contact Us
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- contact ends -->

        <!-- footer -->
        <div class="footer py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img
                            class="footer-logo"
                            src="../assets/images/Logo.jpg"
                            alt=""
                        />
                        <div class="mt-4">
                            <h5 class="text-white">Connect With Us</h5>
                            <div class="d-flex">
                                <div class="connect-circle me-2">
                                    <i class="fab fa-facebook-f"></i>
                                </div>
                                <div class="connect-circle me-2">
                                    <i class="fab fa-instagram"></i>
                                </div>
                                <div class="connect-circle me-2">
                                    <i class="fab fa-twitter"></i>
                                </div>
                                <div class="connect-circle me-2">
                                    <i class="fab fa-linkedin"></i>
                                </div>
                            </div>
                        </div>

                        <div class="mt-5">
                            <div class="contact-us-footer-bg">
                                <div class="contact-us-footer fw-bold">
                                    Contact Us
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-white">Our Company</h4>

                        <div class="footer-links">
                            <ul>
                                <li class="py-2"><a href="#">About Us</a></li>
                                <li class="py-2"><a href="#">Services</a></li>
                                <li class="py-2"><a href="#">Contact</a></li>
                                <li class="py-2"><a href="#">Careers</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-white">Our Services</h4>

                        <div class="footer-links">
                            <ul>
                                <li class="py-2"><a href="#">Service 1</a></li>
                                <li class="py-2"><a href="#">Service 2</a></li>
                                <li class="py-2"><a href="#">Service 3</a></li>
                                <li class="py-2"><a href="#">Service 4</a></li>
                                <li class="py-2"><a href="#">Service 5</a></li>
                                <li class="py-2"><a href="#">Service 6</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <h4 class="text-white">Contact Us</h4>

                        <div class="footer-links">
                            <ul>
                                <li class="py-2">Address</li>
                                <li class="py-2">
                                    <a href="#">Mobile Number/Landline</a>
                                </li>
                                <li class="py-2"><a href="#">Email</a></li>
                                <li class="py-2">
                                    <a href="#">Enquiry Email</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="m-0">
                        © 2022 Magicwords Pvt Ltd.All Rights Reserved
                    </div>
                    <div class="m-0">Privacy Policy</div>
                </div>
            </div>
        </div>
        <!-- footer ends -->
    </body>

    <script
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
        async
    ></script>

    <script>
        function initMap() {
            // The location of Uluru
            const uluru = { lat: -25.344, lng: 131.036 };
            // The map, centered at Uluru
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 4,
                center: uluru,
            });
            // The marker, positioned at Uluru
            const marker = new google.maps.Marker({
                position: uluru,
                map: map,
            });
        }
    </script>
    <script src="../assets/bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"
    ></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            window.addEventListener("scroll", function () {
                if (window.scrollY > 80) {
                    document
                        .getElementById("navbar_top")
                        .classList.add("fixed-top");
                    document
                        .getElementById("navbar_top")
                        .classList.add("colored-nav");

                    // add padding top to show content behind navbar
                    navbar_height =
                        document.querySelector(".navbar").offsetHeight;
                    document.body.style.paddingTop = navbar_height + "px";
                } else {
                    document
                        .getElementById("navbar_top")
                        .classList.remove("fixed-top");
                    document
                        .getElementById("navbar_top")
                        .classList.remove("colored-nav");

                    document
                        .getElementById("navbar_top")
                        .classList.add("trans-nav");
                    // remove padding top from body
                    document.body.style.paddingTop = "0";
                }
            });
        });
    </script>
</html>
